{% extends 'home/base.html' %}
{% load static %}
{% block title %}Chatbots - FakeLover{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/chatbots.css' %}">
<div id="chatbot-container">
    <h2>Danh sách ChatBot</h2>
    <p id="error-message" style="color:red;"></p>
    <ul id="chatbot-list"></ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const accessToken = "{{ access_token }}";  // <-- từ Django
</script>
<script src="{% static 'js/chatbots.js' %}"></script>
{% endblock %}
